In [1]:
import pandas as pd, numpy as np

In [7]:
dado=pd.DataFrame([1,2,3,4,5,6])
suma_dados=dado.sample(2, replace=True).sum().loc[0]
print("Suma de los dados es", suma_dados)

Suma de los dados es 9

In [22]:
np.random.seed(4) #fijar semilla
sum_tres_dados = dado.sample(3,replace=True).sum().loc[0]
print("Suma de los tres dados es", sum_tres_dados)

Suma de los tres dados es 11

In [26]:
intento = 100 #considerando m√°s intentos
resultado=[dado.sample(2,replace=True).sum().loc[0] for i in range (intento)]
resultado[:20]

[10, 5, 11, 6, 6, 10, 7, 10, 7, 8, 6, 7, 10, 3, 7, 11, 6, 7, 8, 8]