In [1]:
import pandas as pd, numpy as np
from sklearn import tree

In [2]:
#Crear datos ficticios y leerlos guardados en DataFrame
desempleo=pd.read_csv("Desempleo.csv")
desempleo.head()

,Años de experiencia,¿Empleado?,Empleos previos,Nivel de educación,Educación de primer nivel,Intern,Contratado
0,23,Sí,8,Lic,Sí,Sí,Sí
1,25,Sí,4,Lic,Sí,Sí,Sí
2,18,No,2,Lic,No,Sí,Sí
3,6,Sí,5,Bachi,No,No,No
4,11,Sí,3,Bachi,No,No,No

In [3]:
#convertir en variables dummy las categóricas
d={"Sí":1,"No":0} #diccionario
desempleo["¿Empleado?"]=desempleo["¿Empleado?"].map(d)
desempleo["Contratado"]=desempleo["Contratado"].map(d)
desempleo["Educación de primer nivel"]=desempleo["Educación de primer nivel"].map(d)
#desempleo["Intern"]=desempleo["Intern"].map(d)
d2={"Prima":0, "Secu":1,"Bachi":2,"Lic":3}
desempleo["Nivel de educación"]=desempleo["Nivel de educación"].map(d2)
desempleo.head()

,Años de experiencia,¿Empleado?,Empleos previos,Nivel de educación,Educación de primer nivel,Intern,Contratado
0,23,1,8,3,1,Sí,1
1,25,1,4,3,1,Sí,1
2,18,0,2,3,0,Sí,1
3,6,1,5,2,0,No,0
4,11,1,3,2,0,No,0

In [4]:
#hacer el árbol sobre la colimna Contratado
features=list(desempleo.columns[:5])
features

['Años de experiencia',
 '¿Empleado?',
 'Empleos previos',
 'Nivel de educación',
 'Educación de primer nivel']

In [5]:
y=desempleo["Contratado"]
X=desempleo[features]
modelo=tree.DecisionTreeClassifier() #construcción modelo

In [6]:
X.head()

,Años de experiencia,¿Empleado?,Empleos previos,Nivel de educación,Educación de primer nivel
0,23,1,8,3,1
1,25,1,4,3,1
2,18,0,2,3,0
3,6,1,5,2,0
4,11,1,3,2,0

In [7]:
y.head()

0    1
1    1
2    1
3    0
4    0
Name: Contratado, dtype: int64

In [8]:
modelo=modelo.fit(X,y)

In [ ]:
from IPython.display import Image
from six import StringIO
import pydot

dot_data=StringIO()
tree.export_graphviz(modelo, out_file=dot_data,
                    feature_names=features)
graph=pydot.graph_from_dot_data(dot_data.getvalue())
Image(graph.create_png())

In [17]:
pip install pydot

Collecting pydotNote: you may need to restart the kernel to use updated packages.

  Downloading pydot-1.4.2-py2.py3-none-any.whl (21 kB)
Requirement already satisfied: pyparsing>=2.1.4 in c:\users\kevin\dropbox\python 3.9\lib\site-packages (from pydot) (3.0.4)
Installing collected packages: pydot
Successfully installed pydot-1.4.2

In [ ]:
#Hacer predicciones
from sklearn.ensemble import RandomForestClassifier
modelo2=RandomForestClassifier(n_estimators=10)
modelo2=modelo2.fit(X,y)

modelo2.predict([10,1,8,2,1])